/* =============================================================
Author's custom styles
============================================================= */

/* These set of rules are applicable ot all pages of the website. */

html {
    background: url('../mariku.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgba(173, 216, 230, 0.8);
    color: #000000;
}

.image-text-overlay > img {
    position: relative;
    width: 100%; /*For IE6*/
}

.image-text-overlay > h3 {
    position: absolute;
    top: 220px;
    left: 25px;
    width: 75%;
}

.image-text-overlay > h3 span {
    color: #E02B2B;
    
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    padding: 1.4% 0;

    background: rgb(255, 255, 255); /*Backup-color*/
    background: rgba(255,255,255, 0.8);
}

.image-text-overlay > h3 span.spacer {
    margin: 0 5px;
}

#error-messages {
    color: rgb(0,0,102);
    background: rgb(255,102,102);
    background: rgba(255,102,102,0.8);
    font-weight: bold;
    display: inline-block;
    margin: 2.5% auto;
}

form#register {
    border: 2px solid #a1a1a1;
    padding: 5%;
    
    background:#dddddd;
    border-radius:10px;
}

/*File: index-result.html*/

.message-block {
/*    background-color: #ffffff;
    text-align: center;
    border-radius: 5px;
*/
    border: 2px solid #a1a1a1;    
    background:#dddddd;
    border-radius:10px;

}